#genres ul{
    grid-template-columns: repeat( auto-fit, minmax(130px, 1fr) );

}

#genres ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #05404d;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}


#genres ul li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: hsl(200, 50%, 50%);
    cursor: pointer;
}
.active{
    background-color: #18719d !important;
}