#genres ul{
    grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );

}

#genres ul li{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #fff; */
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: all 0.2s ease-in-out;
}


#genres ul li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: rgb(127, 227, 242);
    color: #fff;
    cursor: pointer;
}