#genres ul{
    grid-template-columns: repeat( auto-fit, minmax(125px, 1fr) );

}

#genres ul li{
    border-radius: 10px;
    margin: 5px;
    transition: all 0.2s ease-in-out;
}

#genres ul li button{
    display: block;
    text-align: center;
    width: 100%;
    padding: 5px;
}

#genres ul li:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    background-color: hsl(200, 50%, 50%);
}
.active{
    background-color: #18719d !important;
}