#login div {
  background: url(/public/login.jpg) rgba(1, 40, 75, 0.482);
  background-size: cover;
  background-blend-mode: overlay;
  z-index: -1;
}

#login section {
  max-width: 400px;
}

#login section * {
  font-style: italic;
}

#login input{
  background-color: rgba(0, 56, 96, 0.94);
}


#login form input::placeholder {
  color: rgb(184, 184, 184);
}